<button
    class="btn @BtnClassD"
    @onclick="@(() => View.InvokeAsync("D"))"
>
    D
</button>
<button
    class="btn @BtnClassW"
    @onclick="@(() => View.InvokeAsync("W"))"
>
    W
</button>
<button
    class="btn @BtnClassM"
    @onclick="@(() => View.InvokeAsync("M"))"
>
    M
</button>

@code {
    [Parameter]
    public EventCallback<string> View { get; set; }

    [Parameter]
    public string letter { get; set; }

    private string BtnClassD => letter == "D" ? "btn-dark" : "btn-outline-dark";
    private string BtnClassW => letter == "W" ? "btn-dark" : "btn-outline-dark";
    private string BtnClassM => letter == "M" ? "btn-dark" : "btn-outline-dark";
}
