@inject DailyApplication.Controllers.EventsController _eventController;
@using System.Security.Claims

@if (edit)
{
    <div class="modal-header">
        <h5 class="modal-title">Изменить событие</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" @onclick="@(() => Toggle.InvokeAsync(DateTime.Now))">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="text-danger"></div>
        <div class="form-group">
            <label class="control-label">Название</label>
            <input class="form-control" placeholder="Название" @bind=Item.Name />
            <span class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="control-label">Описание</label>
            <input type="text" class="form-control" placeholder="Описание" @bind=Item.Description />
            <span class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="control-label">Время окончания</label>
            <input @bind:format="yyyy-MM-ddTHH:mm" type="datetime-local" class="form-control" placeholder="Время окончания" @bind=Item.DeadlineTime />
            <span class="text-danger"></span>
        </div>
        <label class="control-label">Подсобытия:</label>
        <div class="form-group">
            @for (int i = 0; i < tempSubEvents.Count; i++)
            {
                @*<input value="@subEventList[i]" @onchange="((ChangeEventArgs __e) => OneSub(__e.Value.ToString(), i))"  class="alert alert-secondary" role="alert" />*@
                @*<div class="alert alert-secondary" role="alert">@subEventList[i]</div>*@
                <Input SubEvents="@tempSubEvents" Index="@i" CallBack="@((value) => tempSubEvents = value)" />
            }
            <input class="form-control" placeholder="Подсобытие" @bind=GetSubEvent />
            @*<input class="form-control" value="@currentSubEventName" placeholder="Название" @onchange="((ChangeEventArgs __e)=> { currentSubEventName = __e.Value.ToString();
                    subEventList.Add(currentSubEventName);
                    currentSubEventName = string.Empty;
                    __e.Value= string.Empty;
                })" />*@
            <span class="text-danger"></span>
        </div>
    </div>
    <div class="modal-footer">
        <div>
            <input type="submit" value="Изменить" class="btn btn-primary" @onclick="(() => {
                                                                                                changeEvent(Item);
                                                                                                Change();
                                                                                                Toggle.InvokeAsync(DateTime.Now);
                                                                                           })" @onclick:preventDefault />
        </div>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="Change">Отмена</button>
    </div>
}
else
{
    <div class="modal-header">
        <h5 class="modal-title">@Item.DeadlineTime.ToString("f")</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" @onclick=Toggle>
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <h5 class="modal-title">@Item.Name</h5>
        <div class="my-1">
            @if (Item.Description != null)
            {
                <p class="card-text">
                    @Item.Description
                </p>
            }
            else
            {
                <p class="card-text">
                    Нет описания
                </p>
            }
        </div>
        <hr />
        <div class="my-1">
            @if (Item_subs != null)
            {

                @foreach (Sub_event sub_Event in Item_subs)
                {<p class="card-text">
                        @sub_Event.Description
                    </p>
                }

            }
            else
            {
                <p class="card-text">
                    Нет описания
                </p>
            }
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" @onclick=Change>Изменить</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" @onclick="(() => Delete.InvokeAsync(Item))">Удалить</button>
    </div>
}

@code {
    [Parameter]
    public Event Item { get; set; }

    [Parameter]
    public EventCallback Toggle { get; set; }

    public List<Sub_event> Item_subs { get; set; }

    private bool edit = false;

    private List<string> tempSubEvents = new List<string>();
    private string currentSubEventName = "";
    private string GetSubEvent
    {
        get => currentSubEventName;
        set
        {
            tempSubEvents.Add(value);
            currentSubEventName = "";
        }
    }

    protected override void OnInitialized()
    {
        if (_eventController.GetEventSubEvents(Item.Id) != null)
            Item_subs = _eventController.GetEventSubEvents(Item.Id);

        if (Item_subs != null)
            foreach (Sub_event subEvent in Item_subs)
                tempSubEvents.Add(subEvent.Description);
    }

    private void Change()
    {
        edit = !edit;
    }

    [Parameter]
    public EventCallback<Event> Delete { get; set; }

    private async void changeEvent(Event editedEvent)
    {
        await _eventController.Edit(editedEvent.Id, editedEvent);
    }
}